@use '/src/styles/constants/colors';

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 70px;
  padding: 18px 40px;
  font-size: 12px;
  border: 0.5px solid colors.$BORDER_COLOR;
  border-radius: 10px;
  &:nth-child(1) {
    margin-bottom: 10px;
  }
  & h4 {
    color: colors.$TASKS_TITLE;
  }
}

.dataResult {
  display: flex;
  justify-content: space-between;
  color: colors.$BIG_TITLE;

  & > p {
    font-size: 16px;
    font-weight: bold;
  }
}

.increase {
  display: flex;
  align-items: center;
  color: colors.$TASKS_TITLE;

  & p {
    margin-left: 5px;
  }
}
