@use '/src/styles/mixins/flexbox';
body {
  background-color: #e5e5e5;
}
.integrated {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  width: 1039px;
  height: 654px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 4%);
  border-radius: 20px;
  left: 500px;
  top: 60px;
  padding: 40px;
  .qwe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .charts {
    @include flexbox.flexbox(center, start);
    flex-direction: column;
    width: 100%;
  }
  .dropdowns {
    @include flexbox.flexbox(center, center);
    flex-direction: row;
  }
}
