@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
.firstpage {
  @include flexbox.flexbox(start, start);
  flex-direction: column;
  nav {
    background: #ffffff;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.04);
  }
  .main {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
    margin: 5px;
  }
  .integrated {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
  }
}
