@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
.secondpage {
  display: flex;
  background-color: colors.$BACK_COLOR;
  width: 100%;
  @include flexbox.flexbox(start, start);
  nav {
    background: colors.$WHITE;
  }
  .main {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
    margin: 5px;
  }
  .integrated {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
  }
  .pageTitle {
    position: absolute;
    font-size: 1.75rem;
    transform: translate(50px, -40px);
    font-weight: bold;
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: colors.$BACK_COLOR;
  }
}
