@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
.firstpage {
  display: flex;
  background-color: colors.$BACK_COLOR;
  width: 100%;
  nav {
    background: colors.$WHITE;
    height: 1600px;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.04);
  }
  .main {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
    margin: 5px;
  }
  .integrated {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
  }
  .pageTitle {
    position: absolute;
    font-size: 1.75rem;
    transform: translate(50px, -40px);
    font-weight: bold;
  }
  .subTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #3a474e;
  }
  .integrated {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: colors.$BACK_COLOR;
  }

  th,
  tr,
  td {
    font-size: 0.7rem;
  }
  th {
    color: colors.$GRAYA;
  }
  .contentsWrapper {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
