.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  border: 1px red solid;
  padding-left: 30px;
  padding-right: 40px;
}

.dropDown {
  width: 120px;
  border-radius: 10px;
  padding: 3px;
  border: 1px blue solid;
  background-color: white;
}
.makeAdBtn {
  width: 104px;
  height: 40px;
  background-color: #586cf5;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
