@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-left: 30px;
  padding-right: 40px;
}

.makeAdBtn {
  width: 104px;
  height: 40px;
  background-color: colors.$BTN_COLOR;
  color: colors.$WHITE;
  font-weight: bold;
  border-radius: 10px;
}
