@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.contentWrapper {
  width: 1050px;
  height: 1020px;
  background-color: colors.$WHITE;
  padding-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  border: 2px colors.$GRAYD solid;
  border-radius: 20px;
  justify-content: center;
}
.adCardsWrapper {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 350px 350px 350px;
  align-items: center;
  justify-items: center;
}
