@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.header {
  margin-top: 10px;
  margin-left: auto;
  .icons {
    @include flexbox.flexbox(center, center);
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 20px;
    li {
      margin-right: 10px;
      width: 60px;
    }
    .name {
      color: colors.$TASK_ITEM_TITLE;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      width: 60px;
    }
    .bell {
      position: relative;
      &::after {
        position: absolute;
        top: -5;
        right: -12;
        content: url('../../assets/svgs/circle_red.svg');
        border-radius: 50%;
        padding-bottom: 4px;
      }
    }
  }
}
