@use '/src/styles/constants/colors';

.wrap {
  display: flex;
  justify-content: space-between;
  width: 220px;
  font-size: 14px;
}

.startDateInput,
.endDateInput {
  width: 130px !important;
  font-size: 14px;
  border: none;
  outline: none;
}
.dateInput {
  width: 300px !important;
  font-size: 14px;
  border: none;
  outline: none;
}
.startDateInput:focus,
.endDateInput:focus {
  font-weight: bold;
}
