@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
.dropdown {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
}
.dropDownBtn {
  @include flexbox.flexbox(center, center);
  box-sizing: border-box;
  width: 123px;
  height: 40px;
  left: 80px;
  top: 320px;
  background: #ffffff;
  border: 1px solid #d1d8dc;
  border-radius: 10px;
  path {
    fill: #3a474e;
  }
}
// .select {
//   @include flexbox.flexbox(center, center);
//   flex-direction: column;
//   color: colors.$BLACK;
//   background-color: transparent;
//   width: 123px;
//   border-radius: 10px;
//   border: 1px solid #d1d8dc;
//   margin-bottom: 2px;
// }
// .hidden {
//   display: none;
// }
// li {
//   width: 100%;
//   &:hover {
//     background-color: #d1d8dc;
//   }
// }
