.contentWrapper {
  width: 1050px;
  height: 1020px;
  background-color: rebeccapurple;
  padding-top: 40px;
  border-radius: 20px;
  justify-content: center;
}
.adCardsWrapper {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 350px 350px 350px;
  align-items: center;
  justify-items: center;
}
