@use '/src/styles/constants/colors';

.table {
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid colors.$BORDER_COLOR;
  border-collapse: collapse;

  th,
  td {
    border-bottom: 2px solid colors.$BORDER_COLOR;
    padding: 10px;
    text-align: right;
  }

  .leftTd {
    text-align: left;
  }

  tfoot {
    color: colors.$BLUE;
  }
}
